// Botón de descarga en hitomi
#new_download_boton{ 
    &.descargando{
        background-color: #29313e;
    }
}

// En la página de descarga de elementos.
center, hr {
    display: none;
}

#splash{
    margin: auto;
    font-size: 2.5rem;
    width: fit-content;
    color: white;
    border: none;
    background-color: rgba(27, 14, 14, 0);
    text-align: center;
    &::backdrop{
        background-color: rgba(0, 0, 0, 0.8);
    }
}

#pdf_maker_info_text{
    text-transform: none;
    margin: 0px 14px;
}

#options_button_opener{
    font-size: 18px;
    padding: 0px 5px;
    display: block;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

.contenidoDialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.3rem;

    .chechker_values_label{
        display: block;
        input{
            height: 1rem;
            margin-left: auto;
        }
    }
}

.d {
    margin: 20% auto;
    max-height: 50vh;
    width: 30%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    &::backdrop{
        background-color: rgba(0, 0, 0, 0.8);
    }

    .titleDialog{
        display: flex;
        background-color: none;
        justify-content: flex-end;
        align-items: center;

        .titleText{
            font-size: 22px;
            padding: 0px 5px;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 1);
            margin-right: auto;
        }

        button{
            margin: 0px 2px;
            background-color: rgba(255, 255, 255, 1);
            outline: none;
            border-color: rgba(0, 0, 0, 0);
            // border: none;
            font-size: 20px;
            cursor: pointer;

            &:first-child{
                margin-left: 0px;
            }
            
            &:last-child{
                margin-right: 0px;
            }
        }
    }

    .contenidoDialog{
        background-color: rgba(255, 255, 255, 1);
        padding: 5px;
        overflow-y: auto;
    }
}

.images_body{
    margin: 0;
    padding: 0;
    box-sizing: 0;

    img{
        page-break-after: always;
        page-break-inside: avoid;
        display: block;
    }
}

.vertical{
    margin: 0 auto;
    width: auto;
    height: 11in;
}

.horizontal{
    margin: 25% 0in auto 0in;
    width: 8.5in;
    height: auto;
}

@media print{
    @page {
        size: letter;
        margin: 0in;
    }
}